/* body's styling */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url('bluebackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* loading spinner styling */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

/* loading spinner animation */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* add animation to mainpage cotnent */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}
  
@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}
  
@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

/* firstpage styling */
.firstpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    justify-content:center;
    margin: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid black;
    padding: 1.5rem;
    text-align: center;
}

/* styling for buttons on firstpage */
.firstpagebutton {
    width: 80%;
    min-height: 80px;
    font-size: 2.5rem;
    border-radius: 20px;
    margin-top: 1%;
}

.firstpagebutton:hover {
    box-shadow: -0.3rem 0.3rem 0.3rem black;
    transform: translate(1rem, -0.5rem);
    background-color: blue;
    border-color: white;
    color: white;
}

a {
    color: black;
    text-decoration: none;
    width: 100%;
    height: auto;
}

/* styling for modal */
[id^=modal] {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

[id^=modal]:target {
    display: block;
}

input[type=checkbox] {
    position: absolute;
    clip: rect(0 0 0 0);
}

/* styling for the overlay and popup */
.popup {
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.popup_overlay {
    position: fixed;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000b3;
}

.popup_content {
    position: fixed;
    z-index: 9;
    width: 40%;
    max-width: 1200px;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    padding: 58px 32px 32px 32px;
    background: #fff;
}

/* styling for popup's title */
.popup_header {
    /* padding: 2px 16px; */
    /* min-height: 20%; */
    height: 20%;
    background-color: #0A7FFE;
    color: white;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: popup_header 2s linear;
}

/* styling for the popup's body */
.popup_body {
    background-color: white;
    overflow-y: scroll;
    height: 70%;
    animation: popup_body 2s linear;
}
 
/* styling for the popup's footer */
.popup_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 16px;
    height: 10%;
    background-color: #0A7FFE;
    color: white;
    border-radius:  0px 0px 20px 20px;
    animation: popup_footer 2s linear;
}

/* The Close Button */
.popup_close {
    border-radius: 20px;
    width: 30%;
    height: 60%;
    min-height: 60px;
    background-color: red;
    color: white;
    font-size: 1.5rem;
    border: 1px solid black;
}

/* animations and styling for the various elements withint the popup's body */
.popup_body p {
    font-size: 1.2rem;
    color: blueviolet;
    animation: popup_body 3s linear;
}

.popup_body h3 {
    font-size: 1.5rem;
    color: 	#0A7FFE;
}

/* styling for the titles */
h2 {
    font-size: 3rem;
    color: 	white;
}


/* animation for the body */
@keyframes popup_body {
    0%   { 
        transform: translateX(200%); 		
    }
    100% { 
        transform: translateX(0%); 
    }
}

/* animation for the header */
@keyframes popup_header {
    0%   { 
        transform: translateX(-200%); 		
    }
    100% { 
        transform: translateX(0%); 
    }
}

/* aniamtion for the footer */
@keyframes popup_footer{
    0%   { 
        transform: translateX(-200%); 		
    }
    100% { 
        transform: translateX(0%); 
    }
}

/* responsive changes */
@media only screen and (max-width: 600px){
    /* increase the size of the popup */
    .popup_content {
        width: 80%;
    }

    /* increases the size of the firstpage */
    .firstpage {
        margin: 0;
    }
}